*{
    margin:0px;
}
@media print {
    nav{
        display: none;
    }
}
@media screen {
    nav{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
       
}

@media (max-widht:480px) {
    nav a{
        position:fixed;
        bottom: 0px;
        left: 0px;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

#iframe{
    color: aliceblue;
    background-color: black;
    margin-bottom: 0px;
    padding: 50px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    display: flex;
    align-items:flex-start;
}

iframe{
    width: 400px;
    height: 225px;
    padding: 2px;    
}

#formulary{
    background-color:beige;
    font-size: 25px;
    margin: 25px;
    color:#383838;
}

input{
    color: #383838;
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}